<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prove Assignment 02</title>
    <style>
      h1{
        text-align: center;  
        text-decoration-color: aqua;
        
      }  
      body {
          background-color: darkgoldenrod;
      }
      .week02 {
        border: 5px solid black;
          text-align: center;
          background-origin: padding-box;
          margin-top: 100;
      }
    </style>
</head>
<h1>PROVE ASSIGNMENT WEEK 02</h1>
<body>
    <div class="week02">
        Book Title:  <%= first %> 
        <br> 
       Summary of Book:  <%= second %>   
    
    </div>
 
</body>
</html>