<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prove Assignment 01</title>
</head>
<body>
  This is Input 1:  <%= first %> 
   <br> 
  This is Input 2:  <%= second %>  
</body>
</html>