 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PROVE ASSIGNMENT WEEK 02</title>
        <style>
            body{
                text-align: center;
                background-color: darkgrey;
            }
            .info1{
                border: 1px solid black;
                margin-top: 10px;
                background-color: coral;
            }
        </style>
    </head>
    <body>
        <h1> BOOK INFO PAGE</h1>
        <form action ="prove02/submit" method="POST" class="info1">
            <label for="i1">Book Title:</label>
            <textarea name="i1" id="i1"></textarea>
                <br>
                <br>
            <label for="i2">Summary of Book:</label>  
              <textarea id="i2" name="i2">
            </textarea>
           <br>
           <br>
            <button type ="submit">Submit form</button>
            </form> 
    </body>
    </html>