<!DOCTYPE html>
<html>
<head>
  <% include ../includes/head.ejs %>
</head>

<body>
  <% include ../includes/navigation.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p> Team Activity 02</p>
  </div>
</div>
<div class="container">
 
  <div>
     <!-- First step requirement of modifying and adding /ta02/addUser-->
     <!--For for requirement 01-->
    <form action="/ta02/addUser" method="POST">
      <label for="newUser">New Username</label><br>
        <input type="text" name="newUser">
        <button type="submit">Add User</button>
       </form>
       <!--For for requirement 01-->
  </div>
 <div>
   <!-- Form for requirement 03-->
   <form action="/ta02/removeUser" method="POST">
    <label for="remUser"> Username to  remove</label><br>
      <input type="text" name="remUser">
      <button type="submit">Remove User</button>
     </form>
   <!-- Form for requirement 03-->
 </div>
<div>
  <!-- Loop requirement for step 01-->
  <h2>Users:</h2>
  <% for(user of users) { %>
    <p><%= user %></p>
  <% } %>
  <!-- Loop requirement for step 01-->
</div>
</div>
</body>
</html>